.section_one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5% 9%;
  margin-bottom: 4%;
  width: 60%;
}
.section_one h5 {
  align-items: center;
  background: #ffffff;
  border: 1px solid #ffa50b;
  border-radius: 16px;
  padding: 18px 24px;
  margin-bottom: 25px;
}
.section_one h1 {
  width: 83%;
  font-weight: 700;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  color: #595961;
  margin-bottom: 10px;
}
.section_one h1 b {
  color: #992e9d;
}
.section_one p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #434347;
  margin-bottom: 25px;
}
.section_one ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}
.award {
  margin-bottom: 25px;
}
.award li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 12px;
  gap: 6px;
  background: #fffcea;
  border: 1px solid #fff4c5;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #bb5302;
}
.enroll li button {
  align-items: center;
  padding: 24px 48px;
  background: linear-gradient(180deg, #b73bbe 0%, #992e9d 93.51%);
  box-shadow: 0px 8px 48px -10px rgba(153, 46, 157, 0.5);
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #fcf5fe;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
.enroll li:nth-child(2) {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #992e9d;
  cursor: pointer;
}

.section_two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 9.2%;
  padding-right: 9.2%;
  gap: 52px;
  background: linear-gradient(
    180deg,
    rgba(183, 59, 190, 0.05) 0%,
    rgba(153, 46, 157, 0.05) 93.51%
  );
  border: 1px solid #f9ebfc;
}

/*Media Query for the Mediam Large screen*/
@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .section_one {
    margin: 5% 0% 5% 9%;
    width: 80%;
  }
  .section_one h1 {
    width: 98%;
    font-weight: 700;
    font-size: 54px;
    line-height: 74px;
    letter-spacing: -0.02em;
    color: #595961;
    margin-bottom: 10px;
  }

  .section_two {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    gap: 32px;
  }
}

/*Media Query for the tablet View*/
@media only screen and (min-width: 500px) and (max-width: 800px) {
  .section_one {
    margin: 55px auto;
    width: 80%;
  }
  .section_one h1 {
    width: 98%;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: -0.01em;
    color: #595961;
    margin-bottom: 10px;
  }
  .award li {
    padding: 10px 5px 10px 10px;
    gap: 6px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .section_two {
    display: none;
  }
}

/*Media Query for the Mobile View*/
@media only screen and (max-width: 500px) {
  .section_one {
    margin: 30px auto;
    width: 100%;
    padding: 28px 24px;
  }
  .section_one h5 {
    width: 100%;
    text-align: center;
    padding: 18px 1px;
    font-size: 16px;
    font-weight: 400;
  }
  .section_one h1 {
    width: 100%;
    font-weight: 700;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: #595961;
    margin-bottom: 15px;
  }
  .section_one p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .award {
    display: flex;
    flex-grow: inherit;
    flex-wrap: wrap;
  }
  .award li {
    padding: 10px 5px 10px 10px;
    gap: 6px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
  .award span {
    display: none;
  }
  .enroll {
    display: flex;
    flex-wrap: wrap;
  }
  .enroll li {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }
  .enroll li button {
    width: 100%;
    margin: 0 auto;
    padding: 18px 25px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-right: 0px;
    margin-top: 15px;
  }
  .enroll li:nth-child(2) {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #992e9d;
    cursor: pointer;
  }

  .section_two {
    display: none;
  }
}
